<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOBAppKey</key>
	<string>20031788a896c</string>
	<key>MOBAppSecret</key>
	<string>07e6f9acb7348b4eb7d20f5c0da7ad29</string>
</dict>
</plist>
